{% extends "base.html" %}
{% block titulo %}Cambiar mi contraseña{% endblock %}
{% block volver %}<a class="icono-btn" href="{% url 'mas' %}" aria-label="Volver">{% include "parciales/icono.html" with nombre="volver" %}</a>{% endblock %}
{% block encabezado %}Contraseña{% endblock %}
{% block contenido %}
<form method="post" class="seccion gap-3.5" novalidate>
  {% csrf_token %}
  {% include "parciales/campo.html" with campo=form.old_password %}
  {% include "parciales/campo.html" with campo=form.new_password1 %}
  {% include "parciales/campo.html" with campo=form.new_password2 %}
  {% include "parciales/boton.html" with texto="Cambiar la contraseña" principal=True bloque=True %}
</form>
{% endblock %}
